#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.container .modal {
  z-index: 3;
  width: 200px;
  height: 300px;
  background: linear-gradient(180deg, rgb(111, 113, 128) 0%, rgb(91, 93, 107) 100%);
  border-radius: 10px;
  bottom: 0;
  padding: 20px;
  right: 10px;
  position: absolute;
  animation: animate 1s;
}
.modal button {
  font-family: 'Poppins', sans-serif;
  color:white;
  border-radius: 8px;
  border: none;
  right: 0;
  margin-right: 20px;
  position: absolute;
  background: linear-gradient(180deg, rgba(198,132,191,0.55) 0%, rgba(145,176,189,0.5) 100%);
  padding: 2% 5%;
  cursor: pointer;
  font-size: x-small;
  font-weight: 400;  
}

.modal button:hover {
  background: linear-gradient(180deg, rgba(198,132,191,0.7) 0%, rgba(145,176,189,0.8) 100%);
}

.modal-header {
  font-weight: 300;
  font-size: large;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.users-list-item{
  font-size: small;
  font-weight: 200;
  margin: auto;
  color: white;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}
