.movie-list-container {
    padding-top: 40px;
} 

/* .main-movie-item {
    margin-right: 14px;
    position: relative;
}

.main-movie-cover {
    display: block;
    height: 283px;
    width: 200px;

    border-radius: 2px;
    overflow: hidden;
} */

.movie-genre-box {
    margin: 0 auto 30px auto;
}

.movie-genre-title {
    font-size: large;
    font-weight: 200;
    margin-bottom: 8px;
}

.main-movie-genre-title {
    font-size: x-large;
    font-weight: 200;
    margin-bottom: 8px;
}