.user-avatar-image {
    height: 130px;
    width: 130px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

.user-info {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.user-section-right {
    background: linear-gradient(90deg, rgba(86,88,101,0.5) 30%, rgba(170,170,170,0) 100%);
    height: 130px;
    width: 500px;
    position: relative;
    right: 70px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-body {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prof-user-name{
    font-size: x-large;
    position: relative;
    font-weight: 300;
    left: -10px;
    margin-bottom: 5px;
}

.prof-user-email {
    font-size: small;
    font-weight: 200;
    position: relative;
    right: 25px;
}

.user-button-img {
    width: 32px;
    height: 32px;
    color: white;
}

.user-button {
    background-color: transparent;
    border: none;
    padding-right: 2px;
    cursor: pointer;
}

.user-buttons {
    position: relative;
    left: 40px;
}

.statistics-section {
    width: 90%;
    margin: 40px 40px 40px 0;
    display: flex;
    justify-content:space-between;
}

.statistics-section-item {
    width: 50%;
    height: 400px;
}

.stats-header-icon {
    width: 50px;
    height: 50px;
}

.percent-icon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

